.App{
    background-color: #A93226;
}

*
{
    margin: 0;  
}

.titleapp{
    text-align: center;
}

.divapp{
    width: 100%;
    background-color: #FBFCFC;
}

ul{
    text-align: center;
}

li{
    list-style: none;
}

.card{
    margin: 10px;
    width: 320px;
    height: 300px;
    border: 1px solid #000;
    background-color: #FDFEFE;
    border-radius: 10px;
}

img{
    width: 80%;
}

.divContainer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.imgdivcard{
    margin: 10px;
    text-align: center;
}